<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Profile Update</title>


</head>
<body>
<div align="center"><h2><p>Update User Profile</p></h2>
<form action="#" th:action="@{/updateprofile}" th:object="${user}"
	th:method="put">
	<h3>	<p>
			User Id : <input type="text" th:field="*{userId}" />
		</p>
		<p>
			User Name : <input type="text" th:field="*{userName}" />
		</p>
		<p>
			Password : <input type="text" th:field="*{password}" />
		</p>
		<div th:object="${userdetails}">
		<p>
			First Name : <input type="text" th:field="*{firstName}" />
		</p>
		<p>
			Last Name : <input type="text" th:field="*{lastName}" />
		</p>
		<p>
			Age : <input type="number" th:field="*{age}" />
		</p>
		</div>
		<p>
			<input type="submit" value="Submit" />
		</p></h3>
	</form>
	</div>
	<p th:text="${userData}"/>
	
<h2><p><a th:href="@{/index}">Logout</a></p></h2>	
	




</html>